<div class="container">
  <div class="card mx-auto" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{ post.content }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ post.content }}</h6>
      <p class="card-text">
        {{ post.created }}
      </p>
    </div>
  </div>
</div>
<main class="form-signin w-100 m-auto">
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="form-floating">
      <input
        name="content"
        class="form-control"
        placeholder="Type here"
        ngModel
      />
      <label>Edit post</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Edit</button>
  </form>
  <button class="w-100 btn btn-lg btn-danger" (click)="delete()">Delete</button>
</main>
